name: 手动生成安卓APK（无gradlew版本）1

on:
  workflow_dispatch:
    inputs:
      buildType:
        description: '构建类型'
        required: true
        default: 'release'
        type: choice
        options:
          - Release
          - Debug
      version:
         description: '请输入版本号'
         required: true
         default: '1.0.0'

jobs:
  build-apk:
    runs-on: ubuntu-latest

    steps:
      - name: 拉取代码
        uses: actions/checkout@v4

      - name: 设置JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: 安装Gradle
        run: |
          #sudo apt update
          #sudo apt install -y gradle
          wget https://services.gradle.org/distributions/gradle-6.7-bin.zip -P /tmp
          sudo unzip -q /tmp/gradle-6.7-bin.zip -d /opt/
          echo "export PATH=/opt/gradle-8.7/bin:$PATH" >> $GITHUB_ENV  # 配置环境变量

      - name: 验证Gradle安装
        run: gradle -v
      - name: 构建APK
        run: gradle assemble${{ github.event.inputs.buildType }} --info
        env:
           # 从 Secrets 读取（需要先在仓库设置中添加对应 Secret）
          KEYSTORE_PATH: '../release.p12'
          STORE_PASSWORD: ${{ secrets.CERT_KEYSTORE_PASSWORD }}
          KEY_PASSWORD: ${{ secrets.CERT_KEY_PASSWORD }}
          KEY_ALIAS: 'tvkey'
           # 也可以直接写固定值（非敏感信息）
          APP_VERSION: "1.0.0"
      - name: 上传 APK 到 Release
        uses: softprops/action-gh-release@v1  # 官方推荐的上传工具
        with:
           # 指定 APK 路径（根据实际生成路径修改，默认是这个路径）
          files: app/build/outputs/apk/release/*.apk
          # app/build/outputs/apk/debug/*.apk
          name: Release ${{ github.event.inputs.version }}
          tag_name: v${{ github.event.inputs.version }}  # 显式指定 tag_name
          body: 手动构建的 Release 版本，版本号：${{ github.event.inputs.version }}
